.content {
    width: 100vw;
    padding-top: 0.01rem;
    background-color: white;

    & .BMap_bubble_title {
        color: aqua;
    }

    .back {
        border-radius: 15%;
        width: 3rem;
        height: 3rem;
        background-color: rgba(8, 8, 8, 0.208);
        position: absolute;
        left: 1rem;
        top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 66;

        .tag {
            color: white;
            transform: scale(250%);
        }
    }

    .mainbox {

        .mapContainer {
            width: 100vw;
            height: 80vh;
            box-sizing: border-box;
            background-color: rgb(255, 255, 255);

        }

        .footer {
            position: absolute;
            bottom: 0rem;
            // z-index: 99;
            width: 100vw;
            background-color: rgb(255, 255, 255);
            height: 22vh;
            box-sizing: border-box;
            border-radius: 2rem 2rem 0 0;
            padding: 1.5rem;

            .name {
                font-size: 2rem;
                font-weight: 700;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
            }

            .location {
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
            }

            .btn {
                background-color: #0086f6;
                color: white;
                margin: 1rem 0rem;
                border-radius: 1.5rem;
                z-index: 100;
                height: 2.4rem;
                text-align: center;
                font-size: 1.3rem;
                line-height: 2.4rem;
            }
        }
    }

}