.swiperbox {
    height: 13.6rem;
    background-color: #537FE7;

    .content {
        height: 13rem;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 48px;
        user-select: none;
    }
}