.content {
    width: 100vw;
    padding-top: 0.01rem;
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:  rgb(250,250,250);



    .waterfallbox {
        margin-top: 0.9rem;
        background-color: #fff;
        // padding: 40px;
        column-count: 2;
        column-gap: 0rem;

        width: 100%;
    }
}