.waterfalllayout {
    width: 100vw;
    padding-top: 0.01rem;
    margin-top: 0.3rem;
    background-color: white;

    .title {
        height: 3rem;
        font-size: 1.2rem;
        width: 100vw;
        font-weight: 700;
        background-color: white;
        padding: 0.7rem 0 0 0.7rem;
        box-sizing: border-box;
    }

    .cardbox {
        width: 100%;
        background-color: white;
        display: flex;
        flex-wrap: wrap;

        .waterline {
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
        }
    }
}