.content {
    // border: 1px solid black;
    margin-bottom: 1rem;
    break-inside: avoid; // 关键属性，用来防止断点，防止card被内部截断
    box-sizing: border-box;
    width: 100%;
    padding: 0 0.3rem;
    display: flex;
    flex-direction: column;

    .box {
        box-shadow: 0rem 0rem 0.3rem rgb(164, 164, 164);
        overflow: hidden;
        border-radius: 0.3rem;
        
        .wrapper {
            width: 100%;
        }

        .title {
            padding-left: 0.2rem;

            &>div {
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                font-size: 1rem;
                padding: 0.3rem 0.2rem;
                box-sizing: border-box;
            }
        }
    }


}