.filterdelebox {
    display: flex;
    border: 1px solid #dd2626;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    padding: 0.3rem 0.4rem;
    border-radius: 0.25rem;
    color: #d13636;
    margin:0 0.3rem 0.5rem 0.3rem;

}