.usercommentbox {
    margin-top: 0.3rem;
    height: fit-content;
    background-color: #fff;
    padding-top: 0.01rem;

    .header {
        padding: 0rem 0.6rem;
        margin: 0.7rem 0;

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .score {
            margin-top: 0.7rem;

            .emoTag {
                position: relative;
                top: 0.15rem;
                display: inline-block;
                width: 22px;
                height: 22px;
                border-radius: 11px;
                background: url(https://pages.c-ctrip.com/you/foods/c_cranking_fooddetail_conment_score.png) no-repeat;
                background-size: 110px 22px;
                background-position-y: 0;
                background-position-x: -66px;
                // color: rgb(159, 0, 0);
                margin-right: 0.5rem;
            }
        }
    }
}