.tabsContainer {
    position: fixed;
    top: 2.8rem;
    z-index: 100;
    background: white;
    width: 100%;
  }
  
//   .content {
//     padding: 0 24px 32px;
//     h2 {
//       margin: 0;
//       padding: 12px 0;
//     }
//   }