* {
  padding: 0;
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: rgb(250, 250, 250);
}

/* 修改antd下拉框选中颜色 */
.adm-dropdown-item-highlight {
  color: rgb(200, 55, 55) !important;
}

.adm-space-item {
  margin-right: 10px !important;
}

.adm-list-body {
  background-color: rgb(250, 250, 250) !important;
}

.adm-list {
  --border-inner: 0 !important;
  --border-top: 0 !important;
  --border-bottom: 0 !important;
}

.adm-swiper-indicator{
  bottom: 20px !important;;
}

.adm-swipe-action{
  background-color: rgb(250, 250, 250) !important;
}

.adm-swipe-action-action-button.adm-button{
  --border-radius:0 0.5rem 0.5rem 0 !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.adm-button{
  font-size: 0.8rem !important;
}

.adm-list-body{
  box-shadow: 0 0 5px rgba(200,200,200,0.8);
  border-radius: 5px;
  margin-bottom: 1rem !;
}