.listbox {
    position: fixed;
    box-sizing: border-box;
    padding: 1rem;
    top: 2.8rem;
    background-color: rgb(250, 250, 250);
    width: 100%;
    height: 100%;
}

.listbox .adm-list-body {

    box-shadow: 0 0 5px rgba(200, 200, 200, 0.8);
    border-radius: 5px;
    margin-bottom: 1rem !important;
}